<body>

<div class="wrap">
    <div class="box">
        <p>{lang tencentcloud_captcha:hello}</p></br>

        <p>{lang tencentcloud_captcha:hello_1}</p></br>

        <p>{lang tencentcloud_captcha:install_method}</br></p>

        <p>{lang tencentcloud_captcha:install_method_one}</br></p>
        <p class="indent">{lang tencentcloud_captcha:method_one_step_one}</br></p>
        <p class="indent">{lang tencentcloud_captcha:method_one_step_two}</br></p>
        <p class="indent">{lang tencentcloud_captcha:method_one_step_three}</br></p>
        <p class="indent"></p>
        <p class="indent"></br></p>

        <p>{lang tencentcloud_captcha:install_method_two}</br></p>
        <p class="indent">{lang tencentcloud_captcha:method_two_step_one}</br></p>
        <p class="indent">{lang tencentcloud_captcha:method_two_step_two}</br></p>
        <p class="indent">{lang tencentcloud_captcha:method_two_step_three}</br></p>
        <p class="indent">{lang tencentcloud_captcha:method_two_final}</br></p>

    </div>
</div>

</body>
<style>
    .wrap{
        text-align: left;
        display: flex;
        justify-content: center;
    }
    .box{
        display: inline-block;
    }
    .indent{
        text-indent: 2em;
    }
</style>